@{ ViewData["Title"] = "Home Page"; }

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="HomePageProject.css">
    <title></title>
</head>
<body>

    <div class="top-stylin">
        <ul>
            <li>Home</li>
            <li>CSA Farms</li>
            <li>Memberships</li>

        </ul>
        <li>Donate/Receive Resources</li>
        <li>
            Recent Events
            <ul>
        </li>
        </ul>
        </li>

        </ul>
    </div>
    <br><br><br><br><br><br><br><br>
    <h1 class="center-stuff"> Natural Food Hub </h1>

    <p class="center-stuff2">
        What is Natural Food Hub? Do you enjoy knowing where your food comes from? <br> Would you like to see the process, the challenges and triumphs of the farms you eat from?
        <br>Here you can see what your favorite Community Supported Agriculture point is doing.<br> Farmers can post the challenges they are currently having and other CSAs can provide solutions over this webpage.
        <br> You can support a CSA by donating supplies they need. You can purchase a membership from the CSA to receive produce year round. You can get tips and tricks for your own garden on the challenges/solutions page.
    </p>
    <button>
        <a asp-controller="Home" asp-action="SecondPage">
            Farms and CSAs
        </a>
    </button>
</body>
</html>

