@{
    ViewData["Title"] = "Home Page";
}

<html>
<header>
</header>
<body>
    <div>
        <table>
            <div>
                <td> <h3> Farm/CSA </h3> </td>
                <td>
                    <select name="Farm/CSA">
                        <option value="GreenTeam"> GreenTeam </option>
                        <option value="TempleGarden"> TempleGarden </option>
                        <option value="GreenUrbanLunchbox"> GreenUrbanLunchbox </option>
                    </select>
                </td>
            </div>

            <div>
                <td> <h3> Membership Tier </h3> </td>

                <td>
                    <select name="Membership Tier">
                        <option value="Gold"> Gold </option>
                        <option value="Silver"> Silver </option>
                        <option value="Platinum"> Platinum </option>
                    </select>
                </td>
            </div>
            <td align="right"> Username: </td>
            <td>
                <textarea rows="1" cols="26" name="UserName" placeholder="Username"> </textarea>

            </td>

            <td align="right"> Password: </td>
            <td>
                <textarea rows="1" cols="26" name="Password" placeholder="Password"> </textarea>

            </td>

    </div>
    </table>
 
    </div>
</body>
</html>




